<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">


	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.fancybox.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/daterangepicker.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/aos.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

	<title>Gecko.Air</title>
</head>

<body>
	<style>
		#alertTop{
			position: fixed;
			z-index: 99;
			bottom: 2vh;
			left: 5vh;
			width: 90vw;
			transition: all ease-in 0.3s;
		}
	
	</style>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div id="alertTop" class="auto-close-alert">
					<div class="row">
						<div class="col">
							<div class="alert alert-{{category}}">
								{{message}}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="{{url_for('main.index')}}" class="logo m-0">Gecko<span class="text-primary">.</span>Air</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href="{{url_for('main.index')}}">Home</a></li>
					<li><a href="{{url_for('main.search_result')}}">About</a></li>
					{% if current_user.is_authenticated %}
						<li>
							<a href="{{url_for('main.logout')}}">Logout | 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
									<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
								 </svg>
							</a> 
						</li>
					{% else %}
						<button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal" id="loginButton">
							Login | 
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
								<path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
							  </svg>
						</button> 
					{% endif %}
					<!-- <li><a href="login.html">Login</a></li> -->
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

	


	<div class="hero">
		<div class="container">
			{% if current_user.is_authenticated %}
				<div class="user-profile">
					<b><span class="typed-words2"></span>	{{current_user.name}}</b>
				</div>
			{% endif %}
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">Let's Enjoy Your</span> Trip In <span class="typed-words"></span></h1>

						<div class="row">
							<div class="col-10">
								<form class="form" ?action=search>
									<div class="form-group">
										<div class="custom-control custom-switch">
											<input type="checkbox" class="custom-control-input" id="roundtrip" name="round-trip">
											<label class="custom-control-label" for="roundtrip">Roundtrip ?</label>
										</div>
									</div>																								
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<span class="form-label">Flying from</span>
												<select name="fromCity" id="fromCity" class="form-control custom-select" required>
													<option value="">Select Departure City</option>
													{% for city in cities %}
														<option value="{{ city.cityID }}">{{ city.city_name }}</option>
													{% endfor %}
												</select>
												
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<span class="form-label">Flying to</span>
												<select name="toCity" id="toCity" class="form-control custom-select" required>
													<option value="">Select Arival City</option>
													{% for city in cities %}
														<option value="{{ city.cityID }}">{{ city.city_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<span class="form-label">Departing</span>
												<input class="form-control" type="date"  name="departing" required>
											</div>
										</div>
										<div id="returnDateDiv" class="col-md-12" style="display: none;">
											<div class="form-group">
												<span class="form-label">Returning</span>
												<input class="form-control" type="date" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Adults (18+)</span>
												<select class="form-control" name="">
													<option>1</option>
													<option>2</option>
													<option>3</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Children (0-17)</span>
												<select class="form-control">
													<option>0</option>
													<option>1</option>
													<option>2</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<span class="form-label">Travel class</span>
												<select name="seattype" id="seattype" class="form-control custom-select" required>
													<option value="">Select Travel Class</option>
													{% for seattype in seattypes %}
														<option value="{{ seattype.seatTypeID }}">{{ seattype.seat_type_name }} Class</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<div class="row align-items-center">
										<div class="col-sm-12 col-md-6 mb-3 col-lg-4 ml-auto">
											<input type="submit" class="btn btn-primary btn-block" value="Search">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="slides">
						<img src="{{url_for('static', filename='images/hero-slider-1.jpg')}}" alt="Image" class="img-fluid active">
						<img src="{{url_for('static', filename='images/hero-slider-2.jpg')}}" alt="Image" class="img-fluid">
						<img src="{{url_for('static', filename='images/hero-slider-3.jpg')}}" alt="Image" class="img-fluid">
						<img src="{{url_for('static', filename='images/hero-slider-4.jpg')}}" alt="Image" class="img-fluid">
						<img src="{{url_for('static', filename='images/hero-slider-5.jpg')}}" alt="Image" class="img-fluid">
						<img src="{{url_for('static', filename='images/hero-slider-6.jpg')}}" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row text-center justify-content-center mb-5">
				<div class="col-lg-7"><h2 class="section-title text-center">Popular Destination</h2></div>
			</div>

			<div class="owl-carousel owl-3-slider">

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-1.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Pragser Wildsee</h3>
							<span class="location">Italy</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-1.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-2.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Oia</h3>
							<span class="location">Greece</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-2.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-3.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Perhentian Islands</h3>
							<span class="location">Malaysia</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-3.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>


				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-4.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Rialto Bridge</h3>
							<span class="location">Italy</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-4.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-5.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>San Francisco, United States</h3>
							<span class="location">United States</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-5.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-6.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Pekanbaru, Riau</h3>
							<span class="location">Indonesia</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-6.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

				<div class="item">
					<a class="media-thumb" href="{{url_for('static', filename='images/hero-slider-1.jpg')}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>Lake Thun</h3>
							<span class="location">Switzerland</span>
						</div>
						<img src="{{url_for('static', filename='images/hero-slider-2.jpg')}}" alt="Image" class="img-fluid">
					</a> 
				</div>

			</div>

		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Our Services</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="site-footer">
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-8">
						<div class="widget">
							<a href="{{url_for('main.index')}}" class="logo m-0">Gecko<span class="text-primary">.</span>Air</a>
							<!-- <h3 class="heading">About TIX.it</h3> -->
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">Contact</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="#">gecko.air@mail.com</a></li>
								<li class="phone"><a href="#">+62 1500 888</a></li>
								<li class="address"><a href="#">Grand Indonesia Tower A Lt.10, Jakarta 3910</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header border-bottom-0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-title text-center">
							<h4 id="modalTitle">Login</h4>
						</div>
						<div class="d-flex flex-column text-center">
							<form id="modalForm" method="POST" action="?action=login">

								
							</form>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<div class="signup-section" id="toggleModalButton">
							Not a member yet? <a class="text-info" id="toggleModalLink">Sign Up</a>.
						</div>
					</div>
				</div>
			</div>
		</div>		


		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Gecko.Air . All Rights Reserved.
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

	<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.fancybox.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/daterangepicker.js')}}"></script>
    <script src="{{url_for('static', filename='js/typed.js')}}"></script>
	<!-- jQuery -->
	<!-- <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script> -->
	<!-- Popper JS -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
	<!-- Bootstrap JS -->
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

	<script>
		const roundtripCheckbox = document.getElementById("roundtrip");
		const returnDateDiv = document.getElementById("returnDateDiv");

		roundtripCheckbox.addEventListener("change", function () {
			if (roundtripCheckbox.checked) {
				returnDateDiv.style.display = "block";
			} else {
				returnDateDiv.style.display = "none";
			}
		});
		document.addEventListener('DOMContentLoaded', function () {
			var autoCloseAlerts = document.querySelectorAll('.auto-close-alert');
			
			autoCloseAlerts.forEach(function(alert) {
				setTimeout(function() {
					alert.style.display = 'none';
				}, 5000);
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			var isLogin = true;
		
			function toggleModal() {
				isLogin = !isLogin;
				if (isLogin) {
					$('#modalTitle').text('Login');
					$('#modalForm').html(`
						<label class="form-label">Email</label
						<div class="form-group">
							<input type="email" class="form-control" name="email1" id="email1" placeholder="Your email address..." required autocomplete="off">
						</div>
						<label class="form-label">Password</label
						<div class="form-group">
							<input type="password" class="form-control" name="password1" id="password1" placeholder="Your password..." required autocomplete="off">
						</div>
						<button type="submit" class="btn btn-info btn-block btn-round" id="">Login</button>
					`);
					$('#modalForm').attr('action', '?action=login');
					$('#toggleModalLink').text('Sign Up');
					$('#submitButton').text('Login');
				} else {
					$('#modalTitle').text('Register');
					$('#modalForm').html(`
						<label class="form-label">Date of Birth</label>
						<div class="form-group">
							<input type="date" class="form-control" name="dob" id="dob" placeholder="Date of Birth" required autocomplete="off">
						</div>
						<label class="form-label">Full Name</label>
						<div class="form-group">
							<input type="text" class="form-control" name="name" id="name" placeholder="Name" required autocomplete="off">
						</div>
						<label class="form-label">Phone Number</label>
						<div class="form-group">
							<input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Phone Number" required autocomplete="off">
						</div>
						<label class="form-label">Age</label>
						<div class="form-group">
							<input type="number" class="form-control" name="age" id="age" placeholder="Age" required autocomplete="off">
						</div>
						<label class="form-label">Gender</label>
						<select class="form-control" name="gender" id="gender" required>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
						<label class="form-label">Email</label
						<div class="form-group">
							<input type="email" class="form-control" name="email2" id="email2"placeholder="Email address" required autocomplete="off">
						</div>
						<label class="form-label">Password</label
						<div class="form-group">
							<input type="password" class="form-control" name="password2" id="password2" placeholder="Password" required autocomplete="off">
						</div>
						<button type="submit" class="btn btn-info btn-block btn-round" id="">Register</button>
					`);
					$('#modalForm').attr('action', '?action=register');
					$('#toggleModalLink').text('Log In');
					$('#submitButton').text('Register');
				}
			}
		
			$('#loginButton').on('click', function() {
				isLogin = true;
				toggleModal();
				$('#customModal').modal('show');
			});
		
			$('#toggleModalButton').on('click', function() {
				toggleModal();
			});
		
			
			$('#customModal').on('show.bs.modal', function () {
				toggleModal();
			});
		
			$('#submitButton').on('click', function () {
				if (isLogin) {
					var email = $('#email1').val();
					var password = $('#password1').val();
					
				} else {
					var dob = $('#dob').val();

					isLogin = true;
            		toggleModal();
				}
				$('#customModal').modal('hide');
			});
		
			<!-- $('#customModal').modal('show'); -->
		});
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["San Francisco."," Paris."," New Zealand.", " Maui.", " London.", "Pekanbaru."],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});

			var typed2 = new Typed('.typed-words2', {
				strings: ["Hello, "," こんにちは –,		"," Halo, 	", " 안녕하세요, 	", " 你好, 	", "Bonjour,	 "],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});

		})
	</script>
	<script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>

</html>