<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">

	<title>Available Flights</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.fancybox.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/daterangepicker.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/aos.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/search_result.css')}}">

</head>
<body>
    <style>
		#alertTop{
			position: fixed;
			z-index: 99;
			bottom: 2vh;
			left: 5vh;
			width: 90vw;
			transition: all ease-in 0.3s;
		}
	
	</style>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div id="alertTop" class="auto-close-alert">
					<div class="row">
						<div class="col">
							<div class="alert alert-{{category}}">
								{{message}}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			{% if current_user.is_authenticated %}
				<div class="user-profile">
					<b><span class="typed-words2"></span>	{{current_user.name}}</b>
				</div>
			{% endif %}
			<div class="site-navigation">
				<a href="{{url_for('main.index')}}" class="logo m-0">Gecko<span class="text-primary">.</span>Air</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li><a href="{{url_for('main.index')}}">Home</a></li>
					<li class="active"><a href="{{url_for('main.manage')}}">Manage Bookings</a></li>
					<li><a href="{{url_for('main.about')}}">About</a></li>
					{% if current_user.is_authenticated %}
						<li>
							<a href="{{url_for('main.logout')}}">Logout | 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
									<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
								 </svg>
							</a> 
						</li>
					{% else %}
						<button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal" id="loginButton">
							Login | 
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
								<path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
							  </svg>
						</button> 
					{% endif %}
					<!-- <li><a href="login.html">Login</a></li> -->
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

	<div id="containers-search">
		<div id="filters-container">
			<div class = "container_isi">
					{% if books %}
					<div class="centered">
						<span id="tittle_text"><b> - All bookings - </b></span>
					</div>
					{% for book in books %}
						{% if book['booking_status'] == 'Paid' :%}
							<form class="results" id="result1" method="POST" action="?action=refund">
								<span class="airline-name"><b>BOOK{{ book['booking_id'] }}</b></span>
								<div class="airline">
									<input type='hidden' id="bookingId" name="booking_id" value="{{ book['booking_id'] }}" style="display:none;"></input>
									<input type='hidden' id="flightNumber" name="flight_number" value="{{ book['flight_number'] }}" style="display:none;"></input>
									<img src="{{url_for('static', filename='images/Garuda.png')}}" alt="logo garuda">
									<span class="airline-name">{{ book['airline_name'] }}</span>
								</div>
								<br>
								<div class="details">
									<div class="dep-arr-details">
										<div class="departure">
											<span class="time" id="departure-time">{{ book['Departure Time'] }}</span>
											<span class="city" id="departure-city">{{ book['Departure City'] }}</span>
										</div>
										<div class="duration-dash">
											<span class="duration">{{ book['Duration'] }}</span>
											<div id="images">
												<img src="{{url_for('static', filename='images/dash.png')}}" id="dash-img" alt="">
												<img src="{{url_for('static', filename='images/plane.png')}}" id="plane-img" alt="">
											</div>
										</div>
										<div class="arrival">
											<span class="time" id="arrival-time">{{ book['Arrival Time'] }}</span>
											<span class="city" id="arrival-city">{{ book['Destination City'] }}</span>
										</div>
									</div>
									<div class="flight-price">
										<span class="price">IDR {{ book['price'] }}</span> <p id="pax">,00</p>
									</div>
								</div>
								<div class="book-button">
									<button type="submit" class="bn-button bg-success mr-2 border border-0">Refund</button>
								</div>
							</form>
							{% elif book['booking_status'] == 'Refund' :%}
							<form class="results bg-secondary bg-gradient"  id="result1" method="POST" action="?action=refund">
								<span class="airline-name"><b>BOOK{{ book['booking_id'] }}</b></span>
								<div class="airline">
									<input type='hidden' id="bookingId" name="booking_id" value="{{ book['booking_id'] }}" style="display:none;"></input>
									<input type='hidden' id="flightNumber" name="flight_number" value="{{ book['flight_number'] }}" style="display:none;"></input>
									<img src="{{url_for('static', filename='images/Garuda.png')}}" alt="logo garuda">
									<span class="airline-name">{{ book['airline_name'] }}</span>
								</div>
								<br>
								<div class="details">
									<div class="dep-arr-details">
										<div class="departure">
											<span class="time" id="departure-time">{{ book['Departure Time'] }}</span>
											<span class="city" id="departure-city">{{ book['Departure City'] }}</span>
										</div>
										<div class="duration-dash">
											<span class="duration">{{ book['Duration'] }}</span>
											<div id="images">
												<img src="{{url_for('static', filename='images/dash.png')}}" style="filter:brightness(0%);" id="dash-img" alt="">
												<img src="{{url_for('static', filename='images/plane.png')}}" style="filter:brightness(0%);" id="plane-img" alt="">
											</div>
										</div>
										<div class="arrival">
											<span class="time" id="arrival-time">{{ book['Arrival Time'] }}</span>
											<span class="city" id="arrival-city">{{ book['Destination City'] }}</span>
										</div>
									</div>
									<div class="flight-price">
										<div class="d-flex flex-column align-items-end ">
											<p style="font-size:25px;" class="mb-0"><strong >[Refund]</strong></p>
											<span class="price"  class="mb-0">IDR {{ book['price'] }}</span> <p id="pax">,00</p>
										</div>
									</div>
								</div>
							</form>
						{% endif %}
					{% endfor %}
					
					<div class="centered">
						<span><b>- Unpaid bookings -</b></span>
					</div>
					{% for book in books %}
						{% if book['booking_status'] == 'Unpaid':%}
							<form class="results" id="result1" method="POST" action="?action=pay">
								<span class="airline-name"><b>BOOK{{ book['booking_id'] }}</b></span>
								<div class="airline">
									<input type='hidden' id="bookingId" name="booking_id" value="{{ book['booking_id'] }}" style="display:none;"></input>
									<input type='hidden' id="flightNumber" name="flight_number" value="{{ book['flight_number'] }}" style="display:none;"></input>
									<img src="{{url_for('static', filename='images/Garuda.png')}}" alt="logo garuda">
									<span class="airline-name">{{ book['airline_name'] }}</span>
								</div>
								<br>
								<div class="details">
									<div class="dep-arr-details">
										<div class="departure">
											<span class="time" id="departure-time">{{ book['Departure Time'] }}</span>
											<span class="city" id="departure-city">{{ book['Departure City'] }}</span>
										</div>
										<div class="duration-dash">
											<span class="duration">{{ book['Duration'] }}</span>
											<div id="images">
												<img src="{{url_for('static', filename='images/dash.png')}}" id="dash-img" alt="">
												<img src="{{url_for('static', filename='images/plane.png')}}" id="plane-img" alt="">
											</div>
										</div>
										<div class="arrival">
											<span class="time" id="arrival-time">{{ book['Arrival Time'] }}</span>
											<span class="city" id="arrival-city">{{ book['Destination City'] }}</span>
										</div>
									</div>
									<div class="flight-price">
										<span class="price">IDR {{ book['price'] }}</span> <p id="pax">,00</p>
									</div>
								</div>
								<div class="book-button">
									<button type="submit" class="bn-button bg-danger mr-2 border border-0">Cancel</button>
									<button type="submit" class="bn-button border-0">Pay</button>
								</div>
							</form>
						{% endif %}
					{% endfor %}
				{% else %}
					<div class="centered">
						<h4><b>There is no bookings!!</b></h4>
						<img width = "500px" src="{{url_for('static', filename='images/no_flight_img.jpg')}}" id="no-flight-img" alt="">
					</div>
				{% endif%}
			</div>
		</div>
	</div>

    

    <div class="site-footer">
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-8">
						<div class="widget">
							<a href="{{url_for('main.index')}}" class="logo m-0">Gecko<span class="text-primary">.</span>Air</a>
							<!-- <h3 class="heading">About TIX.it</h3> -->
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">Contact</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="#">gecko.air@mail.com</a></li>
								<li class="phone"><a href="#">+62 1500 888</a></li>
								<li class="address"><a href="#">Grand Indonesia Tower A Lt.10, Jakarta 3910</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header border-bottom-0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-title text-center">
							<h4 id="modalTitle">Login</h4>
						</div>
						<div class="d-flex flex-column text-center">
							<form id="modalForm" method="POST" action="?action=login">

								
							</form>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<div class="signup-section" id="toggleModalButton">
							Not a member yet? <a class="text-info" id="toggleModalLink">Sign Up</a>.
						</div>
					</div>
				</div>
			</div>
		</div>	



		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> TIX.it . All Rights Reserved.
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

	<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.fancybox.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/daterangepicker.js')}}"></script>
    <script src="{{url_for('static', filename='js/typed.js')}}"></script>
	<!-- jQuery -->
	<!-- <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script> -->
	<!-- Popper JS -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
	<!-- Bootstrap JS -->
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
</body>
</html>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var autoCloseAlerts = document.querySelectorAll('.auto-close-alert');
			
			autoCloseAlerts.forEach(function(alert) {
				setTimeout(function() {
					alert.style.display = 'none';
				}, 5000);
			});
		});
	</script>
	<script>
		$(function() {
			var typed2 = new Typed('.typed-words2', {
				strings: ["Hello, "," こんにちは –,		"," Halo, 	", " 안녕하세요, 	", " 你好, 	", "Bonjour,	 "],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});

		})
		$(document).ready(function(){
			var url = window.location.href;

			var urlParams = new URLSearchParams(url.split('?')[1]);
			var fromCityID = urlParams.get('fromCityID');
			var toCityID = urlParams.get('toCityID');
			var departing = urlParams.get('departing');
			var seattypeID = urlParams.get('seattypeID');

			console.log('fromCityID:', fromCityID);
			console.log('toCityID:', toCityID);
			console.log('departing:', departing);
			console.log('seattypeID:', seattypeID);

			$('#fromCity').val(fromCityID);
			$('#toCity').val(toCityID);
			$('#departing').val(departing);
			$('#seattype').val(seattypeID);
		})
	</script>
	<script src="{{url_for('static', filename='js/custom.js')}}"></script>